#announcements-wrapper {
    background-color: #E0F2F1;
    padding: 10px;
    border: none;
}

#loader-container-small > .lds-roller div:after {
    width: 4px;
    height: 4px;
}



/* Smartphones ----------- */
@media only screen 
and (min-width : 320px) {
    #loader-container-small {
        margin: 20px auto;
        width: fit-content;
    }
    #intro-container {
        width: 85%;
        margin: auto;
    }
    #announcements-heading {
        padding: 10px;
        font-size: 20px;
        margin: 0px;
    }
    #announcements-wrapper {
        width: 95%;
        margin: 0px auto;
        padding: 10px;
    }
    #announcements-container {
        width: 100%;
    }
    .card.announcement-card {
        font-size: 16px;
        margin: 0px 0px 10px 0px;
        padding: 2px 7px;
    }
    .card.announcement-card > h1 {
        font-size: 18px;
        margin: 5px 0px;
        text-align: center;
        padding: 2px;
    }
    .card.announcement-card > h2 {
        font-size: 14px;
        color: #525252;
        margin: 10px 0px;
        padding: 0px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width: 768px){

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    #intro-container {
        width: 95%;
    }
    #announcements-heading {
        padding: 10px;
        font-size: 22px;
        margin: 0px;
    }
    #loader-container-small {
        margin: 50% auto;
        width: fit-content;
    }
    #announcements-container {
        display: none;
        padding: 10px;
        overflow-x: hidden;
        height: 50vh;
        overflow-y: scroll;
    }
    #announcements-wrapper > h2 {
        font-size: 24px;
        padding: 5px;
        margin: 5px auto;
    }
    .card.announcement-card {
        font-size: 16px;
        margin: 0px 0px 10px 0px;
        padding: 2px 7px;
    }
    .card.announcement-card > h1 {
        font-size: 18px;
        margin: 5px 0px;
        text-align: center;
        padding: 2px;
    }
    .card.announcement-card > h2 {
        font-size: 16px;
        margin: 10px 0px;
        padding: 0px;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    
}

div#announcements-container::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
div#announcements-container::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
div#announcements-container::-webkit-scrollbar-thumb {
  background: #fcfcfc;
  border: 0px none #ffffff;
  border-radius: 50px;
}
div#announcements-container::-webkit-scrollbar-thumb:hover {
  background: #fdfdfd;
}
div#announcements-container::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
div#announcements-container::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
div#announcements-container::-webkit-scrollbar-track:hover {
  background: #666666;
}
div#announcements-container::-webkit-scrollbar-track:active {
  background: #525252;
}
div#announcements-container::-webkit-scrollbar-corner {
  background: transparent;
}