canvas#intro-canvas {
    left: 0px;
    width: 150%;
    height: 100%;
    background: #eaedf0;
    position: fixed;
    z-index: -1;
    transition: 0.3s all ease-in;
}

.faded {
    opacity: 0.3;
    transition: 0.3s all ease-in;
}

#intro-container{
   width: 100%;
}

#welcome-container{
    margin: 0px auto;
    padding-top: 20vh;
}

#welcome-container > h1 {
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-align: center;
}

#about-container{
    margin: 0px auto;
    width: 70%;
}

.btn-intro {
    margin:50px auto !important;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    background-color: rgba(0, 0, 0,0.0);
    /* border: 2px solid rgb(66, 192, 66); */
    border: 2px solid #28a78c;
    padding: 15px;
    border-radius: 40px;
}

.btn-intro:hover {
    /* background-color: rgb(66, 192, 66); */
    background-color: #28a78c;
    color: #FFF;
    transition: 0.1s ease-in;
    cursor: pointer;
}

.btn-intro:focus {
    outline: none;
}

#about-container {
    padding-top: 30px;
    display: none;
}

@media only screen and (max-width: 768px) {
    #welcome-container > h1 {
        font-size: 46px;
    }
    .btn-intro {
        font-size: 16px;
    }
    #about-container{
        width: 80%;
    }

  }