.card.opening-card {
    width: 90%;
    margin: 20px 5%;
}

/* Smartphones ----------- */
@media only screen 
and (min-width : 320px) {
    
}

/* iPads , PCs ----------- */
@media only screen 
and (min-width: 768px) {
    
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    .card.opening-card {
        padding: 5px 20px;
    }
    .opening-card h1 {
        font-size: 24px;
        text-align: center;
        padding: 10px 0px;
        margin: 15px auto;
    }
    .opening-card h2 {
        font-size: 22px;
        margin: 10px 0px;
    }
    .opening-card h3 {
        font-size: 20px;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
   
}
