#people-container {
    display: none;
}

.card.bio-card {
    height: 90%;
    width: 90%;
    margin: 5% auto;
    padding: 20px;
}

.bio-card > h1 {

}
.bio-card > h2 {
    color: #34495E;
}
.bio-card > h3 {

}

.bio-card > h1,h2,h3 {
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

.img-container-round {
    margin: 10px auto;
    height: 100px;
}

.img-container-round > img {
    height: 100px;
    width: auto;
    margin: 0px auto;
    border-radius: 50%;
}



 /* Smartphones (portrait and landscape) ----------- */
 @media only screen 
 and (min-width : 320px) {
    .bio-card {
        padding: 10px 5px;
        width: 90%;
    }
    .bio-card > h1 {
        font-size: 22px;
        margin: 5px auto;
        padding: 0px;
    }
    .bio-card > h2 {
        font-size: 18px;
        margin: 10px auto;
    }
    .bio-card > h3 {
        font-size: 16px;
        margin: 5px auto;
    }
 }
 
 /* Tabs and above ----------- */
 @media only screen 
 and (min-width : 768px) {
    .bio-card {
        padding: 20px 10px;
        width: 90%;
    }
    .bio-card > h1 {
        font-size: 24px;
        margin: 5px auto;
        padding: 0px;
    }
    .bio-card > h2 {
        font-size: 20px;
        margin: 10px auto;
    }
    .bio-card > h3 {
        font-size: 18px;
        margin: 5px auto;
    }
 }
 
 /* Desktops and laptops ----------- */
 @media only screen 
 and (min-width : 1024px) {
    .bio-card {
        padding: 20px 10px;
        width: 90%;
        margin: 30px;
    }
    .bio-card > h1 {
        font-size: 22px;
        margin: 5px auto;
        padding: 0px;
    }
    .bio-card > h2 {
        font-size: 18px;
        margin: 10px auto;
    }
    .bio-card > h3 {
        font-size: 16px;
        margin: 5px auto;
    }
 }
 
 /* Large screens ----------- */
 @media only screen 
 and (min-width : 1824px) {
    .bio-card {
        padding: 20px 10px;
        width: 90%;
        margin: 30px;
    }
    .bio-card > h1 {
        font-size: 28px;
        margin: 5px auto;
        padding: 0px;
    }
    .bio-card > h2 {
        font-size: 21px;
        margin: 10px auto;
    }
    .bio-card > h3 {
        font-size: 20px;
        margin: 5px auto;
    }
 }
 
 /* iPhone 4 ----------- */
 @media
 only screen and (-webkit-min-device-pixel-ratio : 1.5),
 only screen and (min-device-pixel-ratio : 1.5) {
 /* Styles */
 }