#people-container {
    display: none;
}

.card.bio-card {
    height: 80%;
}

.card.bio-card > h1 {

}
.card.bio-card > h2 {

}
.card.bio-card > h3 {

}

.card.bio-card > h1,h2,h3 {
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

.img-container-round {
    height: 125px;
    width: 125px;
    margin: 5px auto;
    border-radius: 50%;
    overflow: hidden;
}



 /* Smartphones (portrait and landscape) ----------- */
 @media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 480px) {
    .card.bio-card {
        margin: 10px;
    }
 }
 
 /* Smartphones (landscape) ----------- */
 @media only screen 
 and (min-width : 321px) {
    
 }
 
 /* Smartphones (portrait) ----------- */
 @media only screen 
 and (max-width : 320px) {
    .card.bio-card {
        padding: 20px 10px;
        width: auto;
        margin: 10px;
    }
 }
 
 /* Tabs and above ----------- */
 @media only screen 
 and (min-device-width : 768px) {
    .card.bio-card {
        padding: 20px 10px;
        width: 90%;
        margin: 30px;
    }
    .card.bio-card > h1 {
        font-size: 26px;
        margin: 5px auto;
        padding: 0px;
    }
    .card.bio-card > h2 {
        font-size: 22px;
        margin: 10px auto;
    }
    .card.bio-card > h3 {
        font-size: 18px;
        margin: 5px auto;
    }
 }
 
 /* iPads (landscape) ----------- */
 @media only screen 
 and (min-device-width : 768px) 
 and (max-device-width : 1024px) 
 and (orientation : landscape) {
 /* Styles */
 }
 
 /* iPads (portrait) ----------- */
 @media only screen 
 and (min-device-width : 768px) 
 and (max-device-width : 1024px) 
 and (orientation : portrait) {
    
 }
 
 /* Desktops and laptops ----------- */
 @media only screen 
 and (min-width : 1024px) {
    
 }
 
 /* Large screens ----------- */
 @media only screen 
 and (min-width : 1824px) {
 /* Styles */
 }
 
 /* iPhone 4 ----------- */
 @media
 only screen and (-webkit-min-device-pixel-ratio : 1.5),
 only screen and (min-device-pixel-ratio : 1.5) {
 /* Styles */
 }