#projects-container {
    display: none;
}

#projects-list > div {
    width: 65%;
}

.card-container > .card {
    margin: 50px auto;
    height: auto;
}

.card-body > h1,h2{
    text-align: center;
}

  /* Smartphones (portrait and landscape) ----------- */
 @media only screen 
 and (min-width : 320px) {
    #projects-list > div {
        width: 90%;
    }
    .card-body {
        padding: 5px 10px 10px 10px;
    }
    .card-body > h1 {
        font-size: 22px;
    }
    .card-body > h2 {
        font-size: 18px;
    }
    .card-container > .card {
        margin: 20px auto;
    }
 }
 
 /* iPads , PCs ----------- */
 @media only screen 
 and (min-width : 768px) {
    .card-body > h1 {
        font-size: 24px;
    }
    .card-body > h2 {
        font-size: 20px;
    }
    .card-container > .card {
        margin: 30px auto;
    }
 }
 
 /* Desktops and laptops ----------- */
 @media only screen 
 and (min-width : 1224px) {
    .card-body > h1 {
        font-size: 24px;
    }
    .card-body > h2 {
        font-size: 20px;
    }
    .card-container > .card {
        margin: 40px auto;
    }
 }
 
 /* Large screens ----------- */
 @media only screen 
 and (min-width : 1824px) {
    .card-body > h1 {
        font-size: 26px;
    }
    .card-body > h2 {
        font-size: 22px;
    }
 }