#project-body {
    text-align: left;
    padding: 20px 75px;
}

#project-body h1,h2,h3,h4,h5,h6 {
    color: #2980B9;
}

#project-body h1 {
    font-size: 38px;
}

#project-body h2 {
    font-size: 34px;
}