#project-body {
    text-align: left;
    padding: 20px 75px;
    /* font-family: 'Geomanist',Helvetica,sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
}

#project-body h1,h2,h3,h4,h5,h6 {
    color: #2980B9;
    font-family: 'Nunito Sans', sans-serif;
}

 /* Smartphones (portrait and landscape) ----------- */
 @media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 480px) {
    #project-body {
        width: 100%;
        text-align: left;
        margin: 0px;
        font-size: 14px;
    }

    #project-body > ul{
        padding: 10px 10px 10px 30px;
    }

 }
 
 /* Smartphones (landscape) ----------- */
 @media only screen 
 and (min-width : 321px) {
    #project-body {
        padding: 10px;
    }
    #project-body h1 {
        font-size: 24px;
    }
    #project-body h2 {
        font-size: 20px;
    }
 }
 
 /* Smartphones (portrait) ----------- */
 @media only screen 
 and (max-width : 320px) {
    #project-body h1 {
        font-size: 30px;
    }
    #project-body h2 {
        font-size: 26px;
    }
 }
 
 /* iPads (portrait and landscape) ----------- */
 @media only screen 
 and (min-device-width : 768px) 
 and (max-device-width : 1024px) {
    #project-body {
        text-align: left;
        padding: 10px 45px;
    }
    
    #project-body h1,h2,h3,h4,h5,h6 {
        color: #2980B9;
    }
    
    #project-body h1 {
        font-size: 38px;
    }
    
    #project-body h2 {
        font-size: 34px;
    }
 }
 
 /* iPads (landscape) ----------- */
 @media only screen 
 and (min-device-width : 768px) 
 and (max-device-width : 1024px) 
 and (orientation : landscape) {
    #project-body {
        padding: 30px 65px;
    }
    
    #project-body h1,h2,h3,h4,h5,h6 {
        color: #2980B9;
    }
    
    #project-body h1 {
        font-size: 38px;
    }
    
    #project-body h2 {
        font-size: 34px;
    }
 }
 
 /* iPads (portrait) ----------- */
 @media only screen 
 and (min-device-width : 768px) 
 and (max-device-width : 1024px) 
 and (orientation : portrait) {
 /* Styles */
 }
 
 /* Desktops and laptops ----------- */
 @media only screen 
 and (min-width : 1224px) {
    #project-body {
        padding: 10px 55px;
        width: 85%;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
    }
    #project-body p {
        line-height: 1.7rem;
    }
    #project-body li, #project-body ol {
        margin: 10px 0px;
    }
    #project-body h1 {
        font-size: 38px;
        padding: 10px 0px;
    }
    
    #project-body h2 {
        font-size: 34px;
    }
 }
 
 /* Large screens ----------- */
 @media only screen 
 and (min-width : 1824px) {
 /* Styles */
 }
 
 /* iPhone 4 ----------- */
 @media
 only screen and (-webkit-min-device-pixel-ratio : 1.5),
 only screen and (min-device-pixel-ratio : 1.5) {
 /* Styles */
 }