<div class="container">
    <h1 class="center" style="text-align: center">Computer Architecture and Systems Lab</h1>
    <h2 class="center" style="text-align: center"> About us</h2>
    <p>
        The Computer Architecture and Systems Lab focusses on areas related to design and working of 
        systems for current and emerging architectures. The major focus areas include CAD for VLSI, 
        Computer Architecture and Operating Systems.
    </p>
</div>