<!-- Page Content -->
<div class="container">
    <h1 class="center">Reconfigurable Intelligent Systems Engineering Laboratory</h1>
  <div id="form-card" class="center card">
    <form action="https://docs.google.com/forms/d/e/1FAIpQLScyD3-V_vCUDYKMTvh_klrAkbZPXF7RdXlaJuj-D0X-SmW54w/formResponse" target="_self"
      method="POST" id="contact-form">
      <h2>Contact us</h2>
      <div class="input-container">
        <label for="entry.1395637208">Full Name</label>
        <input autocomplete="off" class="form-input" type="text" aria-label="Full Name" name="entry.1395637208" value="" required="">
      </div>
      <div class="input-container">
        <label for="entry.503079192">Mobile Number</label>
        <input autocomplete="off" class="form-input" type="text" aria-label="Mobile Number" name="entry.503079192" value="" required="">
      </div>
      <div class="input-container">
        <label for="entry.472925964">Email ID</label>
        <input autocomplete="off" class="form-input" type="text" aria-label="Email ID" name="entry.472925964" value="" required="">
      </div>
      <div class="input-container">
        <label for="entry.52727843">Purpose</label>
        <input autocomplete="off" class="form-input" type="text" aria-label="Purpose" name="entry.52727843" value="" required="">
      </div>
      <div class="input-container">
        <label for="Message">Message</label>
        <textarea autocomplete="off" class="form-input" aria-label="Message" required="" name="entry.1284491195"></textarea>
      </div>
      <button class="btn btn-primary center" type="submit">Submit</button>
    </form>

  </div>
</div>
<!-- /.container -->