<div class="container">
    <h1 class="center" style="text-align: center">Interactive Intelligence Lab</h1>
    <h2 class="center"> About us</h2>
    <p>
        Interactive Intelligence Lab is a part of the Reconfigurable and Intelligent Systems Engineering (RISE) Group of the Department of Computer Science and Engineering of IIT Madras. Major focus areas of the group include Reinforcement Learning, Computational Biology, Autonomous Robots, Data Mining, Social Network Analysis, and Text Mining.
    </p>   
    <p>
        For more information visit <a href="https://rbc-dsai.iitm.ac.in/about">Here</a>
    </p>
</div>