<canvas id="intro-canvas">
</canvas>
<!-- Page Content -->
<div id="intro-container" class="container">
  <div id="welcome-container">
    <h1 class="center">Welcome to R.I.S.E</h1>
    <button id="btn-know-more" class="center">Learn more</button>
  </div>
</div>
 <!-- Features Section -->
 <!-- <div class="row">
    <div class="col-lg-6">
        <p>R.I.S.E. Group is a research group in the CSE Dept. of IIT Madras working in the areas of Computer Architecture,
            Security, Machine Learning and VLSI Design. If you wish to collaborate with us, please contact the relevant
            Faculty members from the People's page.</p> -->
            <!-- Intro Content -->
<!-- <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
    </div>
    <div class="col-lg-6">
      <h2>About RISE Lab</h2>
      <p>The RISE group of laboratories was started in 2002, with an aim to focus on reconfigurable computing systems and artificial
        intelligence. Over the years RISE has played host to 7 faculties, over 100+ research scholars and nearly 500 undergraduate
        students.</p>
      <p> The Rise group of laboratories consists of 4 labs namely the Interactive inteliigence lab, the computer architecture
        and system design lab, the indeginous microprocessor development (SHAKTI) lab and the secure systems group.</p>
    </div>
  </div>

    </div>
    <div class="col-lg-6">
        <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
    </div>
</div> -->
<!-- /.row -->

<hr>
<script src="js/coverAnimation.js"></script>