<!-- Page Content -->
<div class="container center">
  <h1 class="center" style="text-align: center">Reconfigurable Intelligent Systems Engineering Laboratory</h1>
  <div class="row">
    <div class="col-xs-12 col-xl-8">
      <div id="intro-container">
        <h2>About us</h2>
        <p>R.I.S.E. Group is a research group in the CSE Dept. of IIT Madras working in the areas of Computer Architecture,
          Security, Machine Learning and VLSI Design. If you wish to collaborate with us, please contact the relevant Faculty
          members from the People's page.
        </p>
        <p>The RISE group of laboratories was started in 2002, with an aim to focus on reconfigurable computing systems and
          artificial intelligence. Over the years RISE has played host to 7 faculties, over 100+ research scholars and nearly
          500 undergraduate students.
        </p>
        <p> The Rise group of laboratories consists of 4 labs namely
          <ul>
            <li><a href="IIL.html">Interactive Intelligence Laboratory</a></li>
            <li><a href="CASL.html">Computer Architecture and System Design Laboratory</a></li>
            <li><a href="Shakthi.html">The indeginous microprocessor development (SHAKTI) Laboratory</a></li>
            <li><a href="SSG.html">The Secure Systems Group</a></li>
          </ul>
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-xl-4">
      <div id="announcements-wrapper" class="card no-hover">
        <h2 class="center">Announcements</h2>
        <div id="loader-container-small">
          <div class="lds-roller">
            <!-- Loader Symbol -->
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div id="announcements-container">

        </div>
      </div>
    </div>
  </div>

</div>
</div>

<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>

<script src="js/loadAnnouncements.js"></script>