<!-- Page Content -->
<div class="container">
    <h1 class="center" style="text-align: center">Reconfigurable Intelligent Systems Engineering Laboratory</h1>
    <h2 class="center">Openings</h2>
    <div id="loader-container">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="openings-container" class="row">

    </div>
    <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
    <script src="js/loadOpenings.js"></script>