<!-- Page Content -->
<div class="container">
  <h1 class="center">Reconfigurable Intelligent Systems Engineering Laboratory</h1>

  <!-- People -->
  <div id="loader-container" class="center container">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
  <div id="people-container">
    <div id="faculty-container" class="center">
      <h2 class="center">Faculty</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="card bio-card">
            <div class="img-container-round center">
              <img src="https://raw.githubusercontent.com/AkshayRaman97/iitm-riselab-dev.github.io/master/_harp/assets/dummy-profile.jpeg" alt="">
            </div>
            <h3 class="center">Dr. V. Kamakoti.</h3>
            <h4 class="center">Designation</h4>
            <a class="btn btn-primary" href="#" role="button">Learn more</a>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="card bio-card">
            <div class="img-container-round center">
              <img src="https://raw.githubusercontent.com/AkshayRaman97/iitm-riselab-dev.github.io/master/_harp/assets/dummy-profile.jpeg" alt="">
            </div>
            <h3 class="center">Dr. Mitesh Khapra</h3>
            <h4 class="center">Designation</h4>
            <a class="btn btn-primary" href="#" role="button">Learn more</a>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="card bio-card">
            <div class="img-container-round center">
              <img src="https://raw.githubusercontent.com/AkshayRaman97/iitm-riselab-dev.github.io/master/_harp/assets/dummy-profile.jpeg" alt="">
            </div>
            <h3 class="center">Dr. Chester Rebeiro</h3>
            <h4 class="center">Designation</h4>
            <a class="btn btn-primary" href="#" role="button">Learn more</a>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="card bio-card">
            <div class="img-container-round center">
              <img src="https://raw.githubusercontent.com/AkshayRaman97/iitm-riselab-dev.github.io/master/_harp/assets/dummy-profile.jpeg" alt="">
            </div>
            <h3 class="center">Dr. Pratyush Panda</h3>
            <h4 class="center">Designation</h4>
            <a class="btn btn-primary" href="#" role="button">Learn more</a>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="card bio-card">
            <div class="img-container-round center">
              <img src="https://raw.githubusercontent.com/AkshayRaman97/iitm-riselab-dev.github.io/master/_harp/assets/dummy-profile.jpeg" alt="">
            </div>
            <h3 class="center">Dr. Harish Guruprasad</h3>
            <h4 class="center">Designation</h4>
            <a class="btn btn-primary" href="#" role="button">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div id="member-container" class="center">
      <h2 class="center">Ongoing Phd Students</h2>
      <div id="phd-students">
        <div class="row">

        </div>
      </div>
      <h2 class="center">MS students</h2>
      <div id="ms-students">
        <div class="row">
          
        </div>
      </div>
      <h2 class="center">B.Tech Students</h2>
      <div id="btech-students">
        <div class="row">
          
        </div>
      </div>
      <h2 class="center">Dual Students</h2>
      <div id="dual-students">
        <div class="row">
          
        </div>
      </div>
      <h2 class="center">M.Tech Students</h2>
      <div id="mtech-students">
        <div class="row">
          
        </div>
      </div>
      <h2 class="center">Project Associates</h2>
      <div id="project-associates">
        <div class="row">
          
        </div>
      </div>
      <h2 class="center">Other Members</h2>
      <div id="other-members">
        <div class="row">
          
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
<script src="js/loadPeople.js"></script>


<!-- <div class="row">
    <div class="col-lg-6">
      <h2>Faculty</h2>
      <ul>
        <li> Dr. V. Kamakoti. </li>
        <li>
          <a href="https://www.cse.iitm.ac.in/~ravi/">Dr. Ravindran Balaraman</a>
        </li>
        <li>Dr. Mitesh Khapra</li>
        <li>Dr. Chester Rebeiro</li>
        <li>Dr. Pratyush Panda</li>
        <li>Dr. Harish Guruprasad</li>
      </ul>
      <h2> Ongoing Phd Students</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Guide</th>
            <th>Topic</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="https://patanjali.github.io">Patanjali</a>
            </td>
            <td>Dr.V. Kamakoti</td>
            <td>Energy Efficient computing and its implications</td>
          </tr>
          <tr>
            <td>V. Prasanna Karthik</td>
            <td>Kamakoti</td>
            <td>Network Security</td>
          </tr>
        </tbody>
      </table> -->