<!-- Page Content -->
<div class="container">
  <div id="projects-container">

  </div>
</div>
<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
<script src="js/loadProjects.js"></script>