<!-- Page Content -->
<div class="container">
  <h1 class="center" style="text-align: center">Reconfigurable Intelligent Systems Engineering Laboratory</h1>
  <div id="loader-container" class="center container">
    <div class="lds-roller">
      <!-- Loader Symbol -->
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div id="projects-container">
    <h2 class="center">Projects undertaken</h2>
    <div id="projects-list" class="row">
    </div>
  </div>
</div>
</div>
<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
<script src="js/loadProjects.js"></script>