<!-- Page Content -->
<div class="container">
  <h1 class="center">Reconfigurable Intelligent Systems Engineering Laboratory</h1>
<div id="loader-container" class="center container">
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
<div id="projects-container">
  <h2 class="center">Projects undertaken</h2>
  <div id="projects-list">
  </div>
  </div>
</div>
</div>
<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
<script src="js/loadProjects.js"></script>