<!-- Page Content -->
<div class="container">
        <h1 class="center">Reconfigurable Intelligent Systems Engineering Laboratory</h1>
    <h2 class="center">Publications</h2>
    <script src="https://bibbase.org/show?bib=https://dblp.org/pid/145/7783.bib&jsonp=1"></script>
</div>
