<div class="container">
    <div id="loader-container-lab" class="center">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="people-container">
            <h1 style="text-align: center" class="center">Lab members</h1>
            <div id="member-container" class="center">
              <div id="phd-students">
                <h2 class="center">Ongoing Phd Students</h2>
                <div class="row">
        
                </div>
              </div>
              <div id="ms-students">
                <h2 class="center">MS students</h2>
                <div class="row">
        
                </div>
              </div>
              <div id="btech-students">
                <h2 class="center">B.Tech Students</h2>
                <div class="row">
        
                </div>
              </div>
              <div id="dual-students">
                <h2 class="center">Dual Students</h2>
                <div class="row">
        
                </div>
              </div>
              <div id="mtech-students">
                <h2 class="center">M.Tech Students</h2>
                <div class="row">
        
                </div>
              </div>
              <div id="project-associates">
                <h2 class="center">Project Associates</h2>
                <div class="row">
        
                </div>
              </div>
              <div id="other-members">
                <h2 class="center">Other Members</h2>
                <div class="row">
        
                </div>
              </div>
            </div>
          </div>
</div>
<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
<script src="js/loadLabMembers.js"></script>